.cnt {
    padding-top: 10px;
}

.cont-favoritos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.cont-pelicula{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fav{
    width: 300px;
    height: 400px;
}