.navbar {
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #4579e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.list-item {
    margin: 30px 20px 0px 0px;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.list-item a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    transition: all ease 0.3s;
    text-decoration: none;
    margin-right: 10px;
}

.list-item a:hover,
.list-item a.active {
    background-color: #d6e3fd;
    color: black;
}