.cont-padre{
  height: 90vh;
  background-color: #0c0c0c;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.cont-padre h2 {
  text-align: center;
  padding: 200px;
  margin: 0;
}

.movie-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  height: 100%;
}

.img-detail{
  margin-left: 20px;
  width: 350px;
  height: 500px;
}

.carac-detail{
  align-self: flex-start;
}
.carac-detail h1 {
  font-size: 36px;
}

.div-caracteristica{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
  width: 160px;
  box-shadow: 0px 0px 14px #fff;
  border-radius: 16px;
}

.div-carac-cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.car-1{
  padding: 6px 0px 6px 0px;
  border-radius:inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  background-color: #c5d8ff;
  color: #0c0c0c;
}

.car-2 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 700;
  background-color: #0c0c0c;
}

.div-caracteristica-sinop{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.car-3{
  margin: 0;
  width: 80%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}


.imdb-rating{
  width: 300px;
  height: 20px;
  box-shadow: 0px 0px 2px #ffff;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.into-rating{
  background-color: #c5d8ff;
  height: inherit;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #0c0c0c;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4px;
}

.flex-div{
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  row-gap: 30px;
  column-gap: 50px;
  padding: 10px;
  border-radius: 8px;
}

.detail-p{
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 0px 10px white;
  padding: 16px;
  border-radius: 8px;
}

.detail-pepe{
  font-size: 18px;
  font-weight: 700;
}
.in-detail-p{
  font-size: 16px;
  font-weight: 500;
}